/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */


 .babalu-header{
    display: table;
    position: relative;
    background: #121212;
    z-index: 1;
    width: 100%;
 }

 .pad-0 {
    padding: 0 !important;
}

.babalu-logo img {
    width: 135px;
    height: auto;
    margin: auto;
    display: flex;
    margin-left: 60px;
    margin-top: 35px;
}

.babalu-top-nav, .babalu-top-nav a {
    font-weight: normal;
    font-size: 12px;
    color: #CCC;
    text-transform: uppercase;
}

.babalu-top-nav {
    padding: 6px 0 0px;
    padding-right: 30px;
    text-align: right;
    background: -moz-linear-gradient(to right,#121212 0,#333 60%,rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(to right,#121212 0,#333 60%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to right,#121212 0,#333 60%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=â€˜#00919191â€™,endColorstr=â€˜#000 â€™,GradientType=1);
}

#search_widget{
    position: relative;
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
    height: 41px;
    margin-right: 20px;
    transition: all .3s;
    overflow: hidden;
    border-radius: 5px;
}

.search-widget form input[type=text]:focus {
    outline: 0px solid #2fb5d2;
    color: #232323;
    background: #fff;
}

.slct-lang{
    display: inline-block;
    font-size: 12px;
    color: #CCC;
    position: relative;
    vertical-align: bottom;
}

.slct-lang > li{
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 800;
    position: relative;
    color: #ccc;
    cursor: pointer;
}

.lst-sublang {
    position: absolute;
    bottom: -90px;
    display: none;
    left: 0px;
    list-style: none none;
    background-color: #fff !important;
    width: 160px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px 2px #000;
}

.lst-sublang > li{
    margin: 0;
    padding: 0;
    border-bottom: solid 1px;
    text-align: center;
}

.lst-sublang > li a{
    display: block;
    padding: 8px;
    color: #4e4e4e;
    font-weight: 400;
}

.slct-currt{
    margin-left: 10px;
}

.lst-log{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
}

.lst-log li a{
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: #ccc !important;
    position: relative;
    padding-right: 10px;
}

.lst-log li a:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    border-right: 1px solid #FFF;
    height: 10px;
}

.lst-regs{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
}

.lst-regs li a{
    color: #fff !important;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: bold;
    background-color: #ea28c9;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.cont-dwn {
    position: relative;
    top: -1.9px;
}

.icc-dwn{
    width: 12px;
}

header .babalu-top-menu {
    padding-left: 50px;
    padding-right: 30px;
}

.babalu-top-menu {
    position: relative;
    height: 75px;
}

.babalu-top-menu .left-menu {
    padding: 0;
    list-style: none;
    width: auto;
    display: flex;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.babalu-top-menu .left-menu>li:first-child {
    transition: all .3s;
    height: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex !important;
    align-items: center;
    background: linear-gradient(140deg,#954bbf,#490faf);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
    -webkit-animation: animateGlow 10s ease infinite;
    border-radius: 4px;
}

.babalu-top-menu .left-menu li {
    display: flex;
    position: relative;
    float: left;
    cursor: pointer;
}

.babalu-top-menu .left-menu>li:first-child a {
    color: #fff !important;
}

.babalu-top-menu .left-menu li a {
    color: #CCC !important;
    font-family: 'Josefin Sans',sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 900;
    cursor: pointer;
    padding: 30px 10px;
}

.babalu-top-menu .minicart-wrapper {
    float: right;
    margin: 26px 0 0;
    padding: 0 14px;
}

.shw-crt{
    position: relative;
    width: auto;
    height: 25px;
    outline: 0;
    background-color: #383838;
    border-radius: 4px;
    padding: 18px 28px 15px 22px;
    font-size: 13.6px !important;
    font-weight: 900;
    text-align: center;
    color: #fff !important;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Josefin Sans',sans-serif;
}

.cust-spin{
    background: #a03543;
    border-radius: 50%;
    color: #fff;
    padding: 2px 4px;
    display: block;
    text-align: center;
    position: absolute;
    top: -8px;
    right: -5px;
    height: 17px;
    line-height: 16px;
    width: 17px;
    font-size: 14px;
    font-family: 'Josefin Sans',sans-serif;
}

.cust-icart{
    margin-right: 7px;
}

.catalog-sales-bar {
    cursor: pointer;
    background: linear-gradient(270deg,#ff2dc0,#ff9a2d) 0 0 / 200% 200%;
    background-size: 200% 200%;
    text-align: center;
    height: 50px;
    -webkit-animation: NvcCtaAnimation 30s ease infinite;
    -moz-animation: NvcCtaAnimation 30s ease infinite;
    animation: NvcCtaAnimation 30s ease infinite;
    box-shadow: 0 0 30px 0 #000;
    z-index: 1;
    position: relative;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-sales-bar .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-sales-bar .text {
    float: left;
    padding: 5px;
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
    font-family: 'Josefin Sans',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    height: 50px;
    font-weight: 800;
}

.catalog-sales-bar .cont-button {
    float: left;
}

.catalog-sales-bar .button {
    display: table;
    padding: 7px 20px;
    background-color: #fff;
    color: #7b7b7b;
    border-radius: 3px;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 900;
    float: left;
    text-transform: uppercase;
}

#wrapper {
    padding: 0px;
    background: #fff;
    box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.carousel .carousel-inner{
    height: calc(100vh - 175px);
    overflow: hidden;
}

.cont-ppl {
    width: 100%;
    overflow: hidden;
}

.babalu-home-products {
    display: table;
    padding: 0 58px;
    background: #f7f7f7;
    width: 100%;
}

.pro-title {
    text-transform: uppercase;
    margin: 72px 0;
    font-size: 19px;
    letter-spacing: 12px;
    font-weight: 600;
    font-family: 'Josefin Sans',sans-serif;
}

.carousel{
    margin-bottom: 0px !important;
}

.carousel-inner{
    margin-bottom: 0px !important;
}

.col-products:first-child {
    width: 41%;
}
.col-products {
    float: left;
}

.col-products:nth-child(2) {
    margin: 0 22px;
    width: -moz-calc(31% - 44px);
    width: -webkit-calc(31% - 44px);
    width: -o-calc(31% - 44px);
    width: calc(31% - 44px);
}

.col-products:last-child {
    width: 28%;
}

.col-products a {
    display: block;
    transition: all .3s;
    margin-bottom: 22px;
    position: relative;
}

.col-products a:before {
    transition: all .3s;
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    background-size: contain;
    z-index: 9;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.col-products a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: all .3s;
}

.col-products img {
    width: 100%;
    transition: all .3s;
}

.new-arrivals {
    display: flex;
    height: 488px;
}

.new-arrivals div.left {
    position: relative;
}

.new-arrivals img {
    height: 100%;
    object-fit: cover;
}

.new-arrivals div.right {
    height: 488px;
    overflow: hidden;
}

.new-arrivals div{
    padding: 0;
}

.babalu-brands {
    background: #f7f7f7;
    display: table;
    width: 100%;
}

.babalu-brands h2 {
    text-transform: uppercase;
    letter-spacing: 15px;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    font-size: 14px;
    padding: 12px 0;
    font-weight: 600;
    width: 50%;
    text-align: center;
    margin: 70px auto;
    font-family: 'Josefin Sans',sans-serif;
}

.babalu-brands .brand {
    max-width: 140px;
    height: auto;
    margin: 0 auto 105px;
    display: block;
}

.babalu-sellers {
    display: flex;
}

.babalu-sellers .sellers-white{
    color: #FFF;
}

.babalu-sellers .sellers-white p{
    color: #FFF;
}

.babalu-sellers .sellers-col {
    min-height: 611px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sll-wht-bg{
    background-image: url(../img/new-venta-catalogo.jpg);
    background-position: center center;
    min-height: 480px;
}

.babalu-sellers h3 {
    font-size: 18.5px;
    line-height: 28px;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 24px;
    max-width: 70%;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 900;
    margin: 15px auto 80px;
}

.babalu-sellers p {
    font-size: 11.3px;
    padding: 0 50px;
    line-height: 22px;
    font-weight: 900 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Josefin Sans',sans-serif;
}

.babalu-sellers div.sellers-col:nth-child(2) h3 {
    margin-top: 98px;
    margin-bottom: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.babalu-sellers div.sellers-col:nth-child(2) p {
    padding: 0 89px;
    font-weight: 400 !important;
    text-transform: uppercase;
    font-family: 'Josefin Sans',sans-serif;
}

.babalu-sellers div.sellers-col:nth-child(2) .square-lnk {
    margin: 100px auto 0 !important;
    color: #000;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    border: 2px solid #000;
    padding: 5px 24.8px;
}

.babalu-sellers .sellers-white h3:after {
    border-top: 2px solid #FFF;
}
.babalu-sellers h3:after {
    position: absolute;
    content: "";
    width: 90px;
    height: 1px;
    border-top: 2px solid #000;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.babalu-sellers .square-lnk {
    margin: 32% auto 0 !important;
    display: table;
}

.lnk-svg-sell{
    background: white;
    color: black;
    font-weight: 800;
    padding: 6.5px 27px;
}

.babalu-video-content {
    display: table;
    background: #fff;
    width: 100%;
}

.babalu-video-content .babalu-videos-title {
    text-transform: uppercase;
    padding: 52px 58px 42px;
    font-size: 19px;
    letter-spacing: 12px;
    font-weight: 600;
    background: #f7f7f7;
    font-family: 'Josefin Sans',sans-serif;
}

.babalu-video-content .babalu-videos-title span:nth-child(2) {
    float: right;
    letter-spacing: 2px;
}

.no-padding {
    padding: 0;
}

.babalu-video-content .cms-cont-video .cont-videos {
    margin: 0;
}

.cms-cont-video .cont-videos .row {
    display: flex;
}

.mar-0 {
    margin: 0 !important;
}

.cms-cont-video .cont-videos .video.left {
    width: 50%;
}

.cms-cont-video .cont-videos .two-videos .video {
    height: 50%;
}

.cms-cont-video .cont-videos .video.right {
    width: 30%;
}

.babalu-video-content .babalu-videos-title span:nth-child(2) a {
    color: #333;
}

.plsqr-icc{
    width: 16px;
    margin-right: 3px;
    position: relative;
    top: -2px;
}

.social-section.points-sale {
    background: #fff;
    cursor: pointer;
}
.social-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f7f7f7;
}

.social-section h2 {
    width: 40%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 15px;
    font-weight: 600;
    padding: 13px 20px;
    margin: 20px auto 50px;
    font-family: 'Josefin Sans',sans-serif;
}

.social-section ul {
    padding: 0;
    list-style: none;
}

.social-section.points-sale a {
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 600;
}

.social-section.points-sale ul li {
    width: 100% !important;
    height: auto !important;
    display: inline-block;
    margin: 0 auto !important;
}

.social-section ul li {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 40px;
}

.babalu-contact {
    text-align: center;
    display: flex;
    width: 100%;
}

.contact-content, .contact-block {
    padding: 60px 0;
}

.contact-content h2 {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-bottom: 40px;
    font-family: 'Josefin Sans',sans-serif;
}

.contact-content p {
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 900;
    font-family: 'Josefin Sans',sans-serif;
}

.contact-content ul {
    font-family: 'Titillium Web',sans-serif;
    margin: 25px auto;
    list-style: none;
    padding-left: 15%;
}

.contact-content ul li {
    text-align: left;
    font-size: 16.5px;
    color: #505050;
    font-weight: 300;
    margin: 0;
    letter-spacing: 1px;
    margin-bottom: 3.7px;
}

.contact-content ul li a{
    color: #337ab7;
    text-decoration: none;
}

.icc-clndr {
    width: 16px;
    position: relative;
    top: -2px;
    margin-right: 4px;
}

.icc-cllaw {
    width: 13px;
    position: relative;
    top: -1px;
    margin-right: 7px;
}

.icc-envml {
    width: 16px;
    margin-right: 6px;
}

.icc-mpnt {
    width: 14px;
    margin-right: 5px;
}

#main .page-footer {
    margin-bottom: 0px !important;
}

.foot-cust{
    display: table;
    background: #121212;
    width: 100%;
    font-family: 'Josefin Sans',sans-serif;
    color: #fff;
    position: relative;
}

.babalu-footer {
    padding: 75px 80px 120px;
    display: table;
    width: 100%;
}

.babalu-footer h2 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.babalu-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.babalu-footer ul li {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 2px 0;
    font-family: 'Titillium Web',sans-serif;
    position: relative;
}

.babalu-footer ul li strong{
    font-family: 'Titillium Web',sans-serif;
    font-weight: 900;
    font-size: 16px;
}

.babalu-footer  ul li a {
    color: #FFF;
    font-size: 15.5px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: 'Titillium Web',sans-serif;
}

.babalu-footer  ul li.ico-babalu:before {
    content: "";
    width: 25px;
    height: 20px;
    position: absolute;
    top: -1px;
    left: -29px;
    background: url(../img/logo-tiny.png);
    background-size: contain;
    background-position-y: 5px;
    background-repeat: no-repeat;
}

.babalu-footer div:nth-child(3) {
    margin-right: 50px;
}

.babalu-footer  ul li.ico-mark:before{
    content: "";
    width: 14px;
    height: 20px;
    position: absolute;
    top: -1px;
    left: -23px;
    background: url(../img/map-marker.svg);
    background-size: contain;
    background-position-y: 5px;
    background-repeat: no-repeat;
}

.babalu-footer  ul li.ico-calendar:before{
    content: "";
    width: 14px;
    height: 20px;
    position: absolute;
    top: -1px;
    left: -23px;
    background: url(../img/calendar-with-spring-binder-and-date-blocks.svg);
    background-size: contain;
    background-position-y: 5px;
    background-repeat: no-repeat;
}

.babalu-footer  ul li.ico-phone:before{
    content: "";
    width: 14px;
    height: 20px;
    position: absolute;
    top: -1px;
    left: -23px;
    background: url(../img/call-answer.svg);
    background-size: contain;
    background-position-y: 5px;
    background-repeat: no-repeat;
}

.babalu-footer  ul li.ico-email:before{
    content: "";
    width: 14px;
    height: 20px;
    position: absolute;
    top: -1px;
    left: -23px;
    background: url(../img/envelope-of-white-paper.svg);
    background-size: contain;
    background-position-y: 5px;
    background-repeat: no-repeat;
}

.cont-credit-cards {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    bottom: 10px;
}

.cont-credit-cards a {
    display: block;
}

.copyright {
    padding: 0 95px;
    margin: 0;
    line-height: 11px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-size: 8.5px;
    letter-spacing: 1px;
    background-color: #121212;
    position: relative;
    z-index: 9;
    font-family: 'Josefin Sans',sans-serif;
}

.babalu-second-footer {
    background-color: #FFF;
    padding: 25px 0 25px 56px;
    position: relative;
    z-index: 9;
}

.babalu-second-footer ul {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding-inline-start: 40px;
}

.babalu-second-footer ul li {
    margin-right: 20px;
    display: inline-block;
}

.babalu-second-footer a {
    color: #000;
    font-family: 'Josefin Sans',sans-serif;
}

.babalu-second-footer li:after {
    content: "";
    border-right: 1px solid #000;
    margin-left: 20px;
}

.txt-short{
    display: none;
}

.mob-cats{
    display: none;
}

#footer {
    padding-top: 0px;
}

.white-buttons {
    display: none;
    margin: auto;
    width: 100%;
    margin-top: 0px;
    background: #000;
}

.white-buttons ul {
    margin: 0 auto;
    padding: 4px 0;
    display: table;
}

.white-buttons ul li {
    display: block;
    width: 50%;
    float: left;
}

.white-buttons ul li a {
    background: #fff;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 12px;
    height: 33px;
    font-family: 'Josefin Sans',sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 700;
    line-height: 13px;
    border-radius: 5px;
}

.search-mobl{
    display: none;
    position: absolute;
    top: -75px;
    right: 59px;
    width: 23px;
}

.srch-nav-mob{
    display: none;
    position: absolute;
    top: -77px;
    left: 3px;
}

.h-icon div {
    width: 34px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
    border-radius: 5px;
}

.toggle-main-menu span {
    font-size: 11px;
    color: #ccc;
    font-weight: 600;
    font-family: 'Josefin Sans',sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -5px;
}

.babalu-category-image {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 280px;
    background-size: cover;
}

.babalu-category-description {
    margin-left: 175px;
    color: #eee;
}

.babalu-category-description h1 {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 7px !important;
    color: #121212 !important;
    font-size: 48px;
    font-family: 'Josefin Sans',sans-serif;
    margin-bottom: 18px;
    margin-left: 70px;
    margin-top: 70px;
}

.category-title {
    margin: 0;
}

.category-description p{
    text-transform: uppercase;
    letter-spacing: 3.2px;
    line-height: 28px;
    font-size: 13.5px;
    font-weight: 300;
    margin-left: 70px;
    font-family: 'Josefin Sans',sans-serif;
    color: #121212 !important;
}

.category-description p > strong{
    font-weight: 700;
}

.babalu-category-description h1:before {
    content: "";
    position: absolute;
    width: 42px;
    height: 5px;
    left: -68px;
    bottom: 14px;
    background: #eee;
}

.columns {
    margin-top: 0;
    display: flex;
}

.list-category-left {
    position: relative;
    width: 28%;
}

.babalu-category-list-fixed {
    background-color: #fff;
    padding-top: 125px;
    padding-left: 10px;
    height: 100%;
    top: 0;
    box-shadow: 7px 7px 7px rgba(0,0,0,.03);
    position: relative;
    z-index: 9;
    transition: left .3s;
}

.babalu-category-list-fixed.affix {
    top: 125px;
    padding-top: 0;
    width: inherit;
}

.babalu-category-list-fixed .babalu-category-list-ul, .babalu-category-list-fixed .babalu-category-list-ul>ul {
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    padding-left: 10px;
}
ul.babalu-category-list-ul {
    overflow: auto;
    height: calc(100vh - 125px);
    width: 100%;
}

.babalu-category-list-fixed .babalu-category-list-ul>li a {
    font-weight: 700;
    display: inline-block;
    margin: 20px 0;
    font-size: 16px;
    width: 100%;
    color: #ff0095;
    font-family: 'Josefin Sans',sans-serif;
}

.babalu-category-list-fixed .babalu-category-list-ul, .babalu-category-list-fixed .babalu-category-list-ul>ul {
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    padding-left: 10px;
}

.babalu-category-list-fixed>ul li {
    line-height: 17px;
}

.babalu-category-list-fixed>ul li a {
    font-size: 11.5px;
    font-weight: 500;
}
.babalu-category-list-fixed a {
    color: #000;
    font-family: 'Josefin Sans',sans-serif;
}

.main-content-padding {
    padding-top: 105px;
    background-color: #ececec;
    width: 78%;
}

.babalu-category-helper {
    display: table;
    width: 100%;
    padding: 0;
    position: absolute;
    z-index: 99;
}

.babalu-category-search {
    padding: 0;
}

.babalu-category-search .block-search {
    margin-left: 60px;
    margin-top: 34px;
    width: calc(100% - 60px);
}

.babalu-breadcrumbs {
    padding: 0;
}

.babalu-breadcrumbs .breadcrumb {
    text-align: right;
    margin: 41px 80px 0 115px;
}

.babalu-breadcrumbs .breadcrumb ol {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.babalu-breadcrumbs .breadcrumb ol li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 12px;
    position: relative;
    font-size: 11px;
}

.babalu-breadcrumbs .breadcrumb ol li a {
    color: #000;
    font-family: 'Josefin Sans',sans-serif;
}

.columns-cat {
    margin-top: 0;
    display: flex;
}

.babalu-category-helper:after {
    width: calc(100% - 156px);
    height: 1px;
    position: absolute;
    content: "";
    background: #b0b0b0;
    left: 100px;
    bottom: 0;
}

input.babalu-search-input {
    font-family: 'Josefin Sans',sans-serif;
    padding-left: 0px;
    height: 25px;
    width: 80%;
    border: 0;
    outline: 0;
    font-weight: 600;
    background: transparent;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}

.btn-snd-cat{
    width: 42px;
    background-color: transparent;
    border: 0px;
    display: inline-block;
}

.prod-wrap{
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}

.grid-prod{
    position: relative !important;
    width: 310px !important;
    margin: 10px !important;
}

.prod-wrap .thumbnail-container{
    width: 100% !important;
    height: auto !important;
    margin: 0px !important;
}

.product-item-image{
    overflow: hidden;
    position: relative;
    height: 550px;
    display: flex;
    background-size: cover;
    background-position: center center;
    image-rendering: -webkit-optimize-contrast;
}

.babalu-details {
    position: relative;
    display: block;
    width: 100%;
}

.product-sku {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13.4px;
    margin: 0;
    border-radius: 0;
    padding: 8px 0 5px 10px;
    color: #505050;
    font-family: sans-serif;
    font-weight: 400;
    border-top: 1px solid #ececec;
    text-transform: uppercase;
    background: #fff;
    border-bottom: 1px solid #ececec;
}

.hid-desc-opt{
    display: none;
}

.babalu-product-info {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 0;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.babalu-product-info .product-name {
    padding: 10px;
    height: 60px;
    max-height: 60px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    font-family: 'Josefin Sans',sans-serif;
    line-height: 1.42857143;
}

.thumbnail-container{
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0) !important;
}

.babalu-product-info .product-price {
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
    border-top: solid 1px #e4e4e4;
}

.cust-old-pric{
    font-size: 13px;
    font-weight: 500;
    color: #616161;
    font-family: 'Josefin Sans',sans-serif;
    width: 40%;
    display: inline-block;
}

.cust-reg-pric{
    line-height: 1.42857143;
    color: #333;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 16px;
    width: 40%;
    display: inline-block;
}

.product-cust:hover .babalu-product-info{
    transition: all .3s;
    background: #ff498a;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;    
}

.product-cust:hover .babalu-product-info > .product-name{
    color: #fff !important;
}

.product-cust:hover .price-box > .cust-reg-pric{
    color: #fff !important;
}

.tag-sale {
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 99;
}

.tag-sale::before {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-top: 70px solid #ec4f93;
    border-left: 70px solid transparent;
    z-index: -1;
}

.tag-sale-text {
    font-size: 13px;
    color: #fff;
    z-index: 9;
    margin-top: 15px;
    margin-right: 3px;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

#products .thumbnail-container:focus .highlighted-informations.no-variants, #products .thumbnail-container:hover .highlighted-informations.no-variants, .featured-products .thumbnail-container:focus .highlighted-informations.no-variants, .featured-products .thumbnail-container:hover .highlighted-informations.no-variants, .product-accessories .thumbnail-container:focus .highlighted-informations.no-variants, .product-accessories .thumbnail-container:hover .highlighted-informations.no-variants, .product-miniature .thumbnail-container:focus .highlighted-informations.no-variants, .product-miniature .thumbnail-container:hover .highlighted-informations.no-variants {
    bottom: 8.6rem;
}

.babalu-add-to-cart {
    transition: all .3s;
    width: 50%;
    display: block;
    float: left;
    position: relative;
}

.product-whislist {
    transition: all .3s;
    width: 50%;
    display: block;
    float: left;
}

.hover-details {
    background: rgba(0,0,0,.7) !important;
    display: block;
    width: 100% !important;
}

.icc-prod-pers{
    width: 19px;
}

.lst-highlighted{
    display: block;
    height: 100%;
    margin-bottom: 0px;
}

.highlighted-informations{
    padding-top: 0px !important; 
}

.lst-highlighted li{
    background: rgba(0,0,0,0) !important;
    transition: all .3s;
    height: 100%;
    padding-top: 10px;
}

.lst-highlighted li:hover{
    background: rgba(0,0,0,.7) !important;
}

.babalu-product-columns {
    display: flex;
}

.babalu-product-left.expanded {
    width: 2.8%;
    background: #fff;
}

.babalu-product-left ul {
    opacity: 1;
    display: block;
}

.babalu-product-left.expanded ul {
    opacity: 1;
    display: none;
}

.babalu-product-left {
    position: relative;
    width: 33%;
    float: left;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    z-index: 2;
    transition: all .3s;
    overflow: hidden;
}

.babalu-product-main {
    background: #fff;
    width: 64%;
    display: table-caption;
    float: left;
    padding: 15px 0 42px 42px;
}

.babalu-breadcrumbs-int{
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #000;
    font-family: sans-serif;
}

.previous-next {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    margin-bottom: 5px;
    width: 30%;
}

.breadcrumbs-int {
    margin: 0;
    width: 70%;
}

.pad-t0{
    padding-top: 0px !important;
    height: auto !important;
    padding-left: 30px;
}

.pad-t0 > ul.babalu-category-list-ul{
    height: auto !important;
}

.breadcrumbs-int > nav{
    margin: 0;
    padding: 0;
}

.breadcrumbs-int > nav ol{
    padding-left: 0;
    margin-bottom: 0;
    text-align: right;
    padding-right: 40px;
    margin: 0;
    list-style: none;
}

.breadcrumbs-int > nav ol li{
    display: inline-block;
    text-transform: uppercase;
    margin: 0 6px;
    position: relative;
    font-size: 11.3px;
}

.breadcrumbs-int > nav ol li:last-child{
    font-weight: 800;
    display: block !important;
}

.babalu-product-content {
    display: table;
    width: 100%;
    margin-top: 20px;
}

.product-images {
    position: relative;
    width: 60%;
    float: left;
    display: block;
}

.product-info {
    width: 40%;
    float: right;
    padding: 0 15px;
}

.babalu-product-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16.8px;
    color: #000;
    letter-spacing: 1px;
    margin: 0;
    line-height: 22px;
    margin-bottom: 0;
}

.product.attribute.sku {
    font-weight: 800;
    text-align: center;
    font-size: 13px;
    color: #000;
    font-family: 'Josefin Sans',sans-serif;
    margin-top: 2px;
}

.price-box.price-final_price {
    text-align: center;
    font-size: 23px;
    color: #000;
    margin: 16px 0px 15px;
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.gen-pric-prod{
    text-align: center;
    font-size: 25px;
    color: #000;
    margin: 10px;
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.old-pric-int{
    text-align: center;
    color: #616161;
    text-decoration: line-through;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    letter-spacing: 3px;
}

.product-info-bottom-description {
    box-sizing: content-box;
    padding: 12px 20px 1px;
    box-shadow: 0 0 50px rgba(0,0,0,.1);
}

.product-info-main {
    position: relative;
}

.card-{
    margin: 6px 0 0;
    text-align: center;
    background: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;    
}

.product-variants-item {
    margin: 6px 0 0 !important;
    text-align: center;
    background: #e6e6e6;
    padding: 10px 0px 15px;
    border-radius: 5px;
    text-transform: uppercase;
}

.ind-variant {
    font-weight: bold;
    position: relative;
    display: block;
    font-family: 'Josefin Sans',sans-serif;
    color: #333;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px !important;
    line-height: 14px;
    padding-top: 2px;
}

.lst-variant{
    display: table;
    margin: auto;
    margin-top: 2px; 
}

input.input-color.opt-col {
    width: 32px;
    height: 32px;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0%);
    border: 2px solid transparent;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.opt-col :hover{
    border: solid 2px #ff5c9d !important;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.6) !important;
}

.input-color:checked+span, .input-color:hover+span, .input-radio:checked+span, .input-radio:hover+span {
    border: solid 2px #ff5c9d !important;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.6) !important;
}

span.color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    margin: 0px !important;
}

span.color:hover{
    border: solid 2px #ff5c9d;
    border-radius: 100px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
}

.lbl-varnt{
    margin: 0px;
    position: relative;
    width: 33px;
    max-height: 33px !important;
    display: block;
    border: 2px solid transparent;
}

.stock-aval{
    padding: 10px 0 10px;
    font-weight: 600;
    color: #ff5c9d;
    letter-spacing: 1px;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
    display: block;
}

.box-cant{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: -14px;
}

.product-discounts {
    margin-bottom: 0px;
}

.product-quantity{
    display: block !important;
}

.product-quantity .qty{
    width: 100%;
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 6px;
}

.dis-non{
    display: none !important;
}

.spn-lbcn{
    font-family: 'Josefin Sans',sans-serif;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    padding-top: 4px;
}

button.cust-addtc {
    background: #000;
    border: 0;
    text-transform: uppercase;
    padding: 10px 30px !important;
    margin: 0px auto !important;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-weight: 500;
    border-radius: 4px;
    width: 100% !important;
    color: #FFF;
    font-size: 15px;
    display: table;
    height: auto !important;
}

.bot-descrb{
    border: 1px solid #e4e4e4;
    font-size: 12px;
    padding: 15px;
    border-radius: 4px;
    font-family: sans-serif;
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}

.bot-descrb p {
    color: #222;
    font-size: 11px;
    font-family: sans-serif;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 0px;
}

span.wght-short {
    display: block;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 4px;
    color: #333;
}

p.product-minimal-quantity {
    display: none;
}

.product-cover img {
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
    background: #fff;
}

.images-container {
    display: inline-table;
    height: 100%;
    width: 100%;
}

.js-qv-mask.mask {
    display: table-cell;
    width: 80px;
    vertical-align: top;
}

ul.product-images.js-qv-product-images {
    width: 100%;
}

.product-images>li.thumb-container {
    display: block;
}

#products .thumbnail-container:focus .highlighted-informations, #products .thumbnail-container:hover .highlighted-informations, .featured-products .thumbnail-container:focus .highlighted-informations, .featured-products .thumbnail-container:hover .highlighted-informations, .product-accessories .thumbnail-container:focus .highlighted-informations, .product-accessories .thumbnail-container:hover .highlighted-informations, .product-miniature .thumbnail-container:focus .highlighted-informations, .product-miniature .thumbnail-container:hover .highlighted-informations {
    bottom: 10.7rem !important;
}

.swtch-attr-selected {
    color: #646464;
    font-weight: 500;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 15px;
    letter-spacing: -1px;
}

.inpt-qnty-cust{
    display: inline-block;
    width: 45px;
    text-align: left;
    text-indent: 12px;
    vertical-align: middle;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 14px;
}

.previous-next a{
    color: #fff;
    display: flex;
    letter-spacing: -0.7px;
    align-items: center;
    background-color: #9728ab;
    border-radius: 3px;
    padding: 4px;
    margin: 0 2px;
    box-shadow: 0 2px 0 #6c2079;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    position: relative;
}

.btn-prev-cust:before{
    content: "";
    position: absolute;
    background-image: url(../img/left-arrow.svg);
    width: 12px;
    height: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 6px;
    left: 3px;
}

.btn-next-cust:before{
    content: "";
    position: absolute;
    background-image: url(../img/right-arrow.svg);
    width: 12px;
    height: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 6px;
    right: 3px;
}

.btn-prev-cust {
    padding-left: 15px !important;
}

.btn-next-cust {
    padding-right: 15px !important;
}

.btn-vol-cust:before{
    content: "";
    position: absolute;
    background-image: url(../img/left-arrow.svg);
    width: 12px;
    height: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 8px;
    left: 3px;
}

.btn-vol-cust{
    background-color: #ff3ea5 !important;
    padding-left: 15px !important;
}

.product-images>li.thumb-container>.thumb {
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,.2) !important;
}

.images-container .product-images>li.thumb-container>.thumb {
    margin-right: 0px !important;
    height: 102px !important;
    width: 75px !important;
    object-fit: cover !important;
}

.product-images>li.thumb-container>.thumb.selected, .product-images>li.thumb-container>.thumb:hover {
    border: 0px solid #2fb5d2 !important;
    -webkit-filter: brightness(90%) !important;
    filter: brightness(90%) !important;
}

.scroll-box-arrows .left {
    left: 24px;
    position: absolute;
    bottom: 54px;
    transform: rotate(-90deg);
}

.scroll-box-arrows .right {
    right: inherit;
    left: 24px;
    position: absolute;
    top: -42px;
    transform: rotate(-90deg);
}

#main .images-container .js-qv-mask.scroll {
    padding-top: 20px !important;
}

.spn-zoom-canvs{
    position: relative;
    overflow: hidden;
    width: 373px;
    margin-left: 37px;
    margin-top: 10px;
}

.zoomImg{
    cursor: crosshair;
}

span.radio-label {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0px;
    text-align: center;
    line-height: 32px;
}

.swtch-attr-selected-tll {
    color: #646464;
    font-weight: 500;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 15px;
    letter-spacing: -1px;
}

.lbl-cust-tll{
    height: 36px;
    margin-bottom: 0px;
}

.inpt-cust-tll{
    height: 36px;
}

.less-cart-cust {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 12px;
    cursor: pointer;
}

.less-cart-cust img{
    width: 16px;
}

.more-cart-cust {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 12px;
    cursor: pointer;
}

.more-cart-cust img{
    width: 16px;
}

.usr-nlgd{
    background: #000;
    border: 0;
    text-transform: uppercase;
    display: table;
    padding: 10px 30px !important;
    margin: 0px auto !important;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    width: 100% !important;
    color: #FFF !important;
    font-size: 16px;
    height: auto !important;
}

.box-cont-polg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    overflow-x: hidden;
    display: none;
}

.cont-pop-logn {
    margin: 30px auto;
    position: relative;
    width: 94%;
    max-width: 960px;
    border-radius: 0 !important;
    background: #343434;
    background-image: radial-gradient(1px,#4f0250 0,#3a0048 659px);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.col-imgsng figcaption {
    position: absolute;
    text-align: center;
    color: #FFF;
    top: 43%;
    left: 0;
    right: 0;
}

.col-imgsng figure img{
    width: 100%;
}

.col-imgsng figcaption h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    font-family: 'Josefin Sans',sans-serif
}

.col-imgsng figcaption p{
    padding: 0 23%;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: 3px;
    color: #fff;
}

.col-infsng h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 12px;
    text-align: center;
    margin: 10px auto 60px;
    display: block;
    max-width: 530px;
    font-family: 'Josefin Sans',sans-serif;
}

.card-inf-popsgn{
    margin: 80px auto;
    max-width: 350px;
}

.cls-pooplgn{
    background: #000;
    padding: 8px 8px;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    font-weight: 100;
    z-index: 2;
    cursor: pointer;
}

.lnks-optnls{
    display: none;
}

div#content-wrapper {
    width: 100%;
}

.contact-block-quitar img{
    width: 100%;
}

.lst-scl-foot li img{
    width: 100%;
}

.lnk-log-blank{
    color: #fff !important;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    background-color: #272727;
    border-radius: 0;
    padding: 6px 40px;
    white-space: inherit;
    border: 1px solid #fff;
}

.forgt-passwrd{
    background: #7952ad;
    padding: 7px 12px;
    border-radius: 4px;
    border-bottom: 2px solid #4c948a;
    margin-left: 0;
    display: table;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff !important;
    font-family: 'Josefin Sans',sans-serif;
}

.regstr-cslnk{
    background: #a744b9;
    padding: 7px 12px;
    border-radius: 4px;
    border-bottom: 2px solid #4c948a;
    margin-left: 0;
    display: table;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff !important;
    font-family: 'Josefin Sans',sans-serif;
}

.blk-forgt{
    width: 90%;
    max-width: 960px;
    margin: auto;
    border-radius: 0 !important;
    background: #343434;
    padding-top: 75px;
    padding-bottom: 80px;
    background-image: radial-gradient(1px,#4f0250 0,#3a0048 659px);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.tit-blk-forgt {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 12px;
    text-align: center;
    margin: 10px auto 60px;
    display: block;
    max-width: 530px;
    font-family: 'Josefin Sans',sans-serif;
}

.lbl-cust-forgt{
    display: table;
    float: none;
    width: 90% !important;
    max-width: 350px !important;
    text-align: left;
    font-family: 'Josefin Sans',sans-serif;
    color: #fff;
    padding-left: 7px;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 13px;
}

.flds-cust-forgt{
    display: table !important;
    margin: auto;
}

.inpt-mlfrg-cust{
    width: 90%;
    max-width: 350px;
    height: 26px !important;
    font-family: 'Josefin Sans',sans-serif;
    padding: 0px;
    text-transform: uppercase;
    padding-left: 10px;
    color: #000;
    margin: auto !important;
    display: table !important;
}

.btsnd-cust-frgt{
    color: #fff;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    background-color: #272727;
    border-radius: 0;
    padding: 7px 40px;
    white-space: inherit;
    margin: auto;
    display: table;
    height: auto !important;
}

.lbl-cust-forgt:after {
    content: '*';
    color: #e02b27;
    font-size: 13px;
    margin: 0 0 0 5px;
}

.page-customer-account #content{
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,.2) !important;
}

.bklg-cust-frgt{
    font-family: 'Josefin Sans',sans-serif;
    font-size: 8px !important;
    text-transform: uppercase;
    display: block;
    margin-left: 10px;
    margin-bottom: 17px;
}

.tggl-clmnleft {
    position: absolute;
    top: 106px;
    right: 0px;
    width: 38px;
    height: 38px;
    background: #333;
    z-index: 9;
    padding-top: 9px;
}

.icc-tggl-clmft {
    object-fit: cover;
    display: block;
    margin: auto;
    height: 17px;
    cursor: pointer;
}

.boxcard-minicart{
    position: absolute;
    top: 75px;
    right: 0%;
    display: block !important;
    height: calc(100% + 93vh) !important;
    width: 40%;
    background-color: #fff;
    padding: 37px 40px 0px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.out-boxcard-minicart{
    right: -100% !important;
}

.cls-boscard-mincrt {
    font-family: sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.tit-boscard-mincrt {
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 10px 0px;
}

.foot-boxcard-mncrt {
    font-family: sans-serif;
    color: #000;
    border-top: 1px solid #000;
    font-size: 11px;
    text-align: right;
    letter-spacing: 0.7px;
    line-height: 16px;
    padding-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
    -o-transform: translate(-50%,0%);
    bottom: 20px;
    width: 83%;
}

.row-list{
    position: relative;
    display: table;
    width: 100%;
    margin: 0;
}

section#js-checkout-summary{
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    border: 0px !important;
}

.row-list .col {
    border: 1px solid #CCC;
    padding: 0;
    border-right: 0;
    height: 30px;
}

.row-list .col:last-child {
    border-right: 1px solid #CCC;
}

main {
    overflow: hidden;
}

.cont-lnk-immcrt{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.img-lnk-immcrt{
    position: absolute !important;
    width: 140% !important;
    height: auto !important;
    margin: auto !important;
    top: 50% !important;
    left: 53% !important;
    zoom: 0 !important;
    transform: translate(-50%,-50%);
    image-rendering: -webkit-optimize-contrast;
}

.list-item-name {
    overflow: hidden;
    text-align: center;
    line-height: 30px;
    font-family: sans-serif;
    color: #000;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 5px !important;
}

.lst-itm-clrtl{
    position: relative;
    text-align: center;
    color: #000;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 4px;
}

.lst-contim-clrtl {
    position: absolute;
    top: 28px;
    left: 0px;
    width: 125%;
    background-color: #fff;
    display: none;
    z-index: 2;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 10px 7px;
    box-sizing: border-box;
}

.lst-itm-prodcrt{
    position: relative;
    text-align: center;
    color: #000;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 4px;
    margin-bottom: 15px;
}

li.lst-itm-clrtl:after {
    content: ">";
    transform: rotate(90deg);
    display: inline-block;
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.lst-contim-clrtl li{
    display: inline-block;
    vertical-align: top;
}

.lst-contim-clrtl li:first-child{
    width: 59%;
}

.lst-contim-clrtl li:last-child{
    width: 38%;
}

.lbl-tls-cart{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 10.2px;
    display: table;
    margin: auto;
    font-weight: 600;
}

.lbl-fls-cart{
    font-family: sans-serif;
    color: #000;
    font-size: 10px;
    line-height: 14px;
    display: block;
    margin-top: 2px;
}

.cont-smm-cust{
    padding: 0px;
    border: 0px;
}

.cnt-lbl-lstcr{
    font-weight: 500;
    font-size: 13px;
    font-family: sans-serif;
    padding-top: 4px;
}

.prec-cust-lscrt{
    font-size: 13px;
    padding-top: 5px;
    display: block;
}

.cart-summary-products {
    max-height: 185px;
}

.cont-smm-cust #cart-subtotal-shipping{
    display: none;
}




















@media (max-width: 850px){
    .srch-nav-mob{
        display: block;
    }

    .search-mobl{
        display: block;
    }
    .white-buttons {
        display: block;
    }

    .babalu-logo img{
        width: 80px !important;
        margin: 10px auto;
    }

    #search_widget{
        display: none;
    }

    .txt-ext{
        display: none;
    }

    .txt-short{
        display: inline-table;
    }

    .babalu-top-nav{
        padding: 5px 0px;
        text-align: center;
        background: #333;
        margin-top: 15px;
    }

    .slct-lang{
        margin-bottom: 0px;
    }

    .lst-log{
        margin-bottom: 0px;
    }

    .lst-log li a{
        font-size: 10px;
    }

    .lst-regs{
        margin-bottom: 0px;
    }

    .lst-regs li a{
        font-size: 10px;
        padding: 6px;
    }

    .babalu-top-menu .minicart-wrapper{
        position: absolute;
        top: -80px;
        right: 0px;
    }

    .shw-crt{
        padding: 18px 0px 15px 9px;
    }

    .babalu-top-menu .left-menu{
        display: none;
    }

    .catalog-sales-bar .cont-button{
        display: none;
    }

    .catalog-sales-bar .text {
        letter-spacing: 0px;
        font-size: 15px;
    }

    .catalog-sales-bar.center {
        width: 80%;
        margin: auto;
        border-radius: 6px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 439px;
        transform: translate(-50%,0%);
        margin-bottom: 40px !important;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.50);
    }

    header .babalu-top-menu{
        display: block;
        height: auto;
    }

    .carousel .carousel-inner {
        height: auto;
        overflow: hidden;
    }

    .slid-hom {
        margin-bottom: 90px;
    }

    .pro-title{
        margin: 40px auto;
        font-size: 17px;
        text-align: center;
        letter-spacing: 7px;
        line-height: 25px;
        width: 80%;
    }

    .new-arrivals img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }

    .new-arrivals {
        display: block;
        height: auto;
    }

    .babalu-brands h2{
        width: 90%;
    }

    .babalu-brands .brand {
        width: 90%;
        margin: 0 auto 105px;
        display: block;
    }

    .desck-cats{
        display: none;
    }

    .mob-cats{
        display: block;
    }

    .mob-cats .col-xs-6 {
        padding-right: 0;
        padding-left: 0;
        height: 180px;
    }

    .mob-cats .col-xs-6 a {
        display: flex;
        width: 100%;
        height: 180px;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }

    .babalu-home-products{
        padding: 0px;
    }

    .babalu-sellers .sellers-col{
        min-height: 480px;
        display: block;
        padding-bottom: 50px;
    }

    .babalu-sellers h3 {
        font-weight: 900;
        margin: 15px auto 80px;
        text-align: center;
        padding: 0px 10px 14px;
    }

    .babalu-video-content .babalu-videos-title{
        padding: 30px 10px;
        letter-spacing: 1px;
    }

    .hid-mobl{
        display: none !important;
    }

    .vid-full-mob{
        width: 100% !important;
        height: 233px !important;
    }

    .social-section h2{
        width: 100% !important;
        margin: 20px 0 !important;
    }

    .social-section ul li{
        width: 40px !important;
        height: 40px !important;
        margin: 0 20px !important;
    }

    .babalu-footer ul {
        display: table;
        margin: auto;
        text-align: center;
    }

    .babalu-footer ul li {
        display: table;
        margin: auto;
    }

    .babalu-footer {
        padding: 30px 10px !important;
        display: table;
        margin: 0px;
        width: 100%;
    }

    .babalu-footer h2 {
        text-align: center;
        margin-top: 28px;
        margin-bottom: 28px;
    }

    .cont-credit-cards {
        display: none;
    }
}